<div class="page-container mt-5">
  <br>
  <h1 class="text-center">Order Confirmation</h1>
  <div class="show-container booking-show-card mt-5">
    <div class="m-5">
      <h2>THANKS FOR SUPPORTING LOCAL ARTISTS!</h2>
      <h3>Your order confirmation: #<%= @basket.id %> </h3>
      <h4>We hope you love your new piece!</h4>
    </div>
  </div>
  <div class="btn-center-page">
    <a href="/items_decorate"><button type="button" class="fill">More Items</button></a>
    <a href="/artists"><button type="button" class="fill">More Artists</button></a>
  </div>
</div>
