<h1>User#welcome</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/welcome.html.erb
</p>

Hello <%= @user.first_name %>, 

Nice to meet you. Thank you kindly for purchasing some of my recent art.
I hope that you love it and it fits in your home beautifully.
