<style>
  h2 {
    font-family: sans-serif;
  }

  p {
    font-family: sans-serif;
  }
</style>

<h2>Hello <%= @user.first_name %>,</h2>

<p>Nice to meet you.</p>

<p>Thank you kindly for purchasing some of my recent art.
I hope that you love it and it fits in your home beautifully.</p>

<p>You can find more of my work at the following:</p>
