.abandoned-chair {
  background: radial-gradient(transparent, rgba(0,0,0,0.8)), image-url("abandoned-chair.jpeg");
}

#donate-card{
  font-family: montserrat;
  font-size: 40px;
  transition: .5s;
  color: white;
}

#create-card {
  transition: .5s;
  font-family: montserrat;
  font-size: 40px;
  color: white;
}

#decorate-card {
  font-family: montserrat;
  font-size: 40px;
  transition: .5s;
  color: white;
}

.home-card:hover {
  #donate-card {
    color: $orange;
  }
  #create-card {
    color: $blue;
  } 
  #decorate-card {
    color: $pink;
  }
}

.art-chair {
  background: radial-gradient(transparent, rgba(0,0,0,0.8)), image-url("art-chair.jpeg");
}


.decorate-chair {
  background: radial-gradient(transparent, rgba(0,0,0,0.8)), image-url("decorate-chair.jpeg");
}


.home-container {
  margin: 16px 5%;
}

.home-links-container {
  height: 100%;
  display: flex;
  flex-basis: auto;
  // box-shadow: 0 0 10px $black;
  border: none;
}

.home-card-link {
  height: 460px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  transition: 0.6s;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.home-card {
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  text-shadow: 1px 1px 3px $black;
  filter: grayscale(100%);
  transition: 0.8s;
  font: white;
}

.home-card:hover {
  filter: grayscale(0%);
}

.expand {
  flex-grow: 3;
}

.home-grid-card {
  min-width: 100%;
  height: 375px;
  &:hover {
    text-decoration: underline $yellow;
  }
}

.home-card-link-wrapper {
  width: 480px;
}

.home-card-link-wrapper a {
  color: $black;
  text-decoration: none;
  &:hover {
    text-decoration: underline $green;
  }
}

.grid-card-image {
  width: 100%;
  height: 265px;
  object-fit: cover;
}

.home-artist-name {
  font-size: 24px;
}

.home-profile-avatar {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 3px black solid;
  border-radius: 50%;
}

.home-items-decorate-card img {
  width: 100%;
  max-height: 330px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blue-underline-home:hover {
  text-decoration: underline $blue;
}

.home-card-text-name-price {
  position: absolute;
  bottom: 23px;
  left: 15px;
  font-size: 20px;
  padding: 2px 8px;
  color: $white;
  text-shadow: 0 0 2px $black;
  background-color: rgba(0,0,0,0.4);
  background-image: linear-gradient(120deg, $green 0%, $green 100%);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 100% 10%;
  transition: background-size 0.25s ease;
  &:hover {
    background-size: 100% 100%;
  }
}

.home-card-text-second {
  position: absolute;
  bottom: 0;
  left: 15px;
  font-size: 20px;
  padding: 2px 8px;
  color: $white;
  text-shadow: 0 0 2px $black;
  background-color: rgba(0,0,0,0.4);
  background-image: linear-gradient(120deg, $green 0%, $green 100%);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 100% 10%;
  transition: background-size 0.25s ease;
  &:hover {
    background-size: 100% 100%;
  }
}

.tag-line > span {
  font-size: 36px;
  font-weight: 900;
}
