.show-container {
  // display: flex;
  // justify-content: center;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
  height: 450px;
  padding: 0px;
}

.show-container h1 {
  font-family: $headers-font;
  font-size: 30px;
  color: black;
}

.list-items {
  list-style-type: none;
  padding-left: 0px;
}

.filter-box {
  display: inline-flex;
}

.booking-show-card {
  overflow: hidden;
  height: 300px;
  background: white;
  border: 3px solid #000;
  // box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.568);
  display: flex;
  // align-items: center;
}

.show-description {
  max-width: 400px;
}