<div class="page-container text-center">
  <div class="show-container user-profile-card">
    <div class="m-5">

        <% if @booking.donation? %>
        <%# <h1>Thanks, your <span class="text-green">collection</span> is confirmed!</h1>
        <br>
        <h1>THANKS, YOUR <span class="text-green">COLLECTION</span> IS CONFIRMED!</h1>
        <br> %>
        <h1>Thanks, your <span class="text-green">COLLECTION</span> is confirmed!</h1>
        <br>
          <p>Here's your collection recap:</p>
          <ul class="list-items">
            <li><%= @booking.id %></li>
            <li><%= @booking.item.name %></li>
            <li>will be collected on <%= @booking.start_date %></li>
            <li>at this address: <%= @booking.user.address %></li>
          </ul>
        <% end %>
    </div>
  </div>
  <div class="btn-center-page">
    <button type="button" class="fill">More Items</button>
    <button type="button" class="fill">More Artists</button>
  </div>
</div>