<div class="booking-form">
  <%= simple_form_for([@item, @booking], html: { class: "form-inline" }) do |f| %>
    <div class="d-flex w-100 justify-content-between">
      <h4 style="margin-top: 0.7rem">Confirm your delivery date:</h4>
      <div class="d-flex">
        <%= f.input :start_date, as: :string, required: true, label: false, input_html: {class: "datepicker", "data-multiple": false}, placeholder: 'Select date' %>
        <%= f.submit "Confirm", class: "form-button ml-5" %>
      </div>
    </div>
  <% end %>
</div>
