<div class="footer">
  <div class="footer-copyright text-center mb-3">
    <p class="mb-0 mt-3">
      Check out our socials
    </p>
  </div>
  <div class="footer-links">
    <div class="icon-circle icon-magical color-github">
      <a href="#" target="_blank"><i class="fab fa-github"></i></a>
    </div>
    <div class="icon-circle icon-magical color-instagram">
      <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="icon-circle icon-magical color-facebook">
      <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
    <div class="icon-circle icon-magical color-twitter">
      <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="icon-circle icon-magical color-linked-in">
      <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
