<div class="tabs d-flex text-center mx-auto mt-5">
  <div class="donate">
  <%= link_to 'DONATE', new_item_path, class: "underline--magical highlight-green"  %>
  </div>
  <div class="create">
  <%= link_to 'CREATE', new_item_path, class: "underline--magical highlight-orange"  %>
  </div>
  <div class="decorate">
  <%= link_to 'DECORATE', items_path, class: "underline--magical highlight-pink"  %>
  </div>
</div>
