<div class="container page-container">
  <div class="m-5 text-center">
    <h1>Meet our team!</h1>
    <p>Full-time coding artists who met at Le Wagon</p>
  </div>
</div>

<div class="container page-container d-flex">
  <div class="d-flex justify-content-center">
    <div class="team-picture">
      <%= image_tag("emily.png", alt: "Emily") %>
    </div>
  </div>
</div>
