<div class="container">
  <h1 class="my-5">Checkout summary</h1>
  <div class="d-flex summary-card-container mb-5 justify-content-around">
    <% total_basket = 0 %>
    <% @basket.basket_items.each do |basket_item| %>
      <div class="summary-img">
        <%= cl_image_tag(basket_item.item.photos.first.key) %>
      </div>
      <% total_basket += basket_item.item.price %>
    <% end %>
      </div>
  <p class="text-center">
    Buy <% if @basket.basket_items.count === 1 %>
      this beauty 
    <% else %>
      these beauties 
    <% end %>
    for <strong><%= humanized_money_with_symbol total_basket %></strong>
  </p>
  <div class="mx-auto text-center">
  <button id="pay" class="underlined-button pink-underline">Pay</button>
  </div>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const paymentButton = document.getElementById('pay');
    paymentButton.addEventListener('click', () => {
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @basket.checkout_session_id %>'
      });
    });
  </script>
</div>
