<div class="container">
  <div class="row py-4">
    <%# <div class="col-md-3"><%= image_tag @basket.item.photo_url, width: '100%' %>
    <div class="col">
      <h1>Checkout summary</h1>
      <p>Purchase for <strong><%= humanized_money_with_symbol total_basket %></strong></p>
      <button id="pay" class="btn btn-primary">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @basket.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
