<div class="index-container">
  <h1>ALL THE FURNITURE</h1>

  <%= form_tag items_path, method: :get do %>
    <%= select_tag "Category", options_for_select(['Select Category', 'Bed', 'Bench', 'Chair', 'Coat Stand', "Coffee Table", 'Cupboard', 'Desk', "Drawers", "Lamp", "Side Table", "Shelves", "Stool", "Sofa", "Table", "Lamp", "Wine Rack"])%>
    <%= submit_tag "Search", class: "btn btn-flat mx-3" %>
  <% end %>

  <div class="frame">
    <div class="range">
      <input type="range" min="0" max="40">
    </div>
  </div>

  <div class="card-container" >
    <% @items.each do |item| %>
      <div class="items-decorate-card">
        <img src="https://images.unsplash.com/photo-1517705008128-361805f42e86?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=679&q=80" alt="Upcycled ">
        <div class="items-decorate-index-card">
          <p>A Nice Table <span>£20</span></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

