// standard button
// .btn {
//   border: 1px solid black;
//   border-radius: 8px;
// }

// FILL BUTTON
.fill {
  font-size: 16px !important;
  font-weight: 400  !important;
  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing: 1px;
  padding: 13px 18px 13px !important;
  outline: 0;
  border: 2px solid black !important;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  margin: 20px;
}

.fill::after {
  content: "";
  background-color: $blue;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

/* End of Fill Button  */

.btn-center-page {
  margin: 80px !important;
  text-align: center;
}

.underlined-button {
  max-width: 178px;
  // height: 100%;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  // font-family: 'Montserrat', sans-serif;
  color: black;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 100% 10%;
  border: none;
  padding: 8px 24px;
  margin-bottom: 16px;
  transition: background-size 0.25s ease;
  &:hover {
    background-size: 100% 100%;
    text-decoration: none;
    color: black;
  }
}

.green-underline {
  background-image: linear-gradient(120deg, $green 0%, $green 100%);
}
.pink-underline {
  background-image: linear-gradient(120deg, $pink 0%, $pink 100%);
}
.blue-underline {
  background-image: linear-gradient(120deg, $blue 0%, $blue 100%);
}
.yellow-underline {
  background-image: linear-gradient(120deg, $yellow 0%, $yellow 100%);
}
.orange-underline {
  background-image: linear-gradient(120deg, $orange 0%, $orange 100%);
}

#sweet-alert-demo {
  cursor: pointer;
}

// LIKE BUTTON
// h1{font-size:14px; font-weight:400; margin:10px 0 0 0; color:#888888;}

// a{font-size:12px; font-weight:bold; margin-top:10px; display:inline-block; text-decoration:none; color:#008A68;}

// svg{
//   cursor:pointer; overflow:visible; width:60px;
//   #heart{transform-origin:center; animation:animateHeartOut .3s linear forwards;}
//   #main-circ{transform-origin:29.5px 29.5px;}
// }

// #checkbox{display:none;}

// #checkbox:checked + label svg{
//     #heart{transform:scale(.2); fill: $pink; animation:animateHeart .3s linear forwards .25s;}
//     #main-circ{transition:all 2s; animation:animateCircle .3s linear forwards; opacity:1;}
//     #grp1{
//       opacity:1; transition:.1s all .3s;
//       #oval1{
//         transform:scale(0) translate(0, -30px);
//         transform-origin:0 0 0;
//         transition:.5s transform .3s;}
//       #oval2{
//         transform:scale(0) translate(10px, -50px);
//         transform-origin:0 0 0;
//         transition:1.5s transform .3s;}
//     }
//     #grp2{
//       opacity:1; transition:.1s all .3s;
//       #oval1{
//         transform:scale(0) translate(30px, -15px); 
//         transform-origin:0 0 0;
//         transition:.5s transform .3s;}
//       #oval2{
//         transform:scale(0) translate(60px, -15px); 
//         transform-origin:0 0 0;
//         transition:1.5s transform .3s;}
//     }
//     #grp3{
//       opacity:1; transition:.1s all .3s;
//       #oval1{
//         transform:scale(0) translate(30px, 0px);
//         transform-origin:0 0 0;
//         transition:.5s transform .3s;}
//       #oval2{
//         transform:scale(0) translate(60px, 10px);
//         transform-origin:0 0 0;
//         transition:1.5s transform .3s;}
//     }
//     #grp4{
//       opacity:1; transition:.1s all .3s;
//       #oval1{
//         transform:scale(0) translate(30px, 15px);
//         transform-origin:0 0 0;
//         transition:.5s transform .3s;}
//       #oval2{
//         transform:scale(0) translate(40px, 50px);
//         transform-origin:0 0 0;
//         transition:1.5s transform .3s;}
//     }
//     #grp5{
//       opacity:1; transition:.1s all .3s;
//       #oval1{
//         transform:scale(0) translate(-10px, 20px);
//         transform-origin:0 0 0;
//         transition:.5s transform .3s;}
//       #oval2{
//         transform:scale(0) translate(-60px, 30px);
//         transform-origin:0 0 0;
//         transition:1.5s transform .3s;}
//     }
//     #grp6{
//       opacity:1; transition:.1s all .3s;
//       #oval1{
//         transform:scale(0) translate(-30px, 0px);
//         transform-origin:0 0 0;
//         transition:.5s transform .3s;}
//       #oval2{
//         transform:scale(0) translate(-60px, -5px);
//         transform-origin:0 0 0;
//         transition:1.5s transform .3s;}
//     }
//     #grp7{
//       opacity:1; transition:.1s all .3s;
//       #oval1{
//         transform:scale(0) translate(-30px, -15px);
//         transform-origin:0 0 0;
//         transition:.5s transform .3s;}
//       #oval2{
//         transform:scale(0) translate(-55px, -30px);
//         transform-origin:0 0 0;
//         transition:1.5s transform .3s;}
//     }
//     #grp2{opacity:1; transition:.1s opacity .3s;}
//     #grp3{opacity:1; transition:.1s opacity .3s;}
//     #grp4{opacity:1; transition:.1s opacity .3s;}
//     #grp5{opacity:1; transition:.1s opacity .3s;}
//     #grp6{opacity:1; transition:.1s opacity .3s;}
//     #grp7{opacity:1; transition:.1s opacity .3s;}
// }

// @keyframes animateCircle{
//   40%{transform:scale(10); opacity:1; fill:#DD4688;}
//   55%{transform:scale(11); opacity:1; fill:#D46ABF;}
//   65%{transform:scale(12); opacity:1; fill:#CC8EF5;}
//   75%{transform:scale(13); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.5;}
//   85%{transform:scale(17); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.2;}
//   95%{transform:scale(18); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.1;}
//   100%{transform:scale(19); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:0;}
// }

// @keyframes animateHeart{
//   0%{transform:scale(.2);}
//   40%{transform:scale(1.2);}
//   100%{transform:scale(1);}
// }

// @keyframes animateHeartOut{
//   0%{transform:scale(1.4);}
//   100%{transform:scale(1);}
// }
