// standard button
// .btn {
//   border: 1px solid black;
//   border-radius: 8px;
// }

// FILL BUTTON
.fill {
  font-size: 16px !important;
  font-weight: 400  !important;
  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing: 1px;
  padding: 13px 18px 13px !important;
  outline: 0;
  border: 2px solid black !important;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  margin: 20px;
}

.fill::after {
  content: "";
  background-color: $blue;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

/* End of Fill Button  */

.btn-center-page {
  margin: 80px !important;
  text-align: center;
}

.basket_btn {
  position: absolute;
  bottom: 15px;
  right: 40px;
}

.underlined-button {
  max-width: 178px;
  // height: 100%;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  // font-family: 'Montserrat', sans-serif;
  color: black;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 100% 10%;
  border: none;
  padding: 8px 24px;
  margin-bottom: 16px;
  transition: background-size 0.25s ease;
  &:hover {
    background-size: 100% 100%;
    text-decoration: none;
    color: black;
  }
}

.green-underline {
  background-image: linear-gradient(120deg, $green 0%, $green 100%);
}
.pink-underline {
  background-image: linear-gradient(120deg, $pink 0%, $pink 100%);
}
.blue-underline {
  background-image: linear-gradient(120deg, $blue 0%, $blue 100%);
}
.yellow-underline {
  background-image: linear-gradient(120deg, $yellow 0%, $yellow 100%);
}
.orange-underline {
  background-image: linear-gradient(120deg, $orange 0%, $orange 100%);
}

#sweet-alert-demo {
  cursor: pointer;
}
