.form-container {
  background-color: white;
  margin: 48px 96px;
  max-width: 40%;
  border: 3px solid $black;
  padding: 48px;
}

.form-container a {
  font-size: 14px;
  color: rgba(126,183,127,0.7);
}

.form-container a:hover {
  text-decoration: none;
  color: $green;
}

.form-button {
  font-weight: 600;
  max-width: 178px;
  height: 100%;
  background-color: white;
  background-image: linear-gradient(120deg, $pink 0%, $pink 100%);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 100% 10%;
  border: none;
  padding: 8px 24px;
  margin-bottom: 16px;
  transition: background-size 0.25s ease;
  &:hover {
    background-size: 100% 100%;
  }
}

#booking_start_date {
  width: 400px;
}

#new_booking > div > div > div > input.form-control.string.required.datepicker.form-control.input {
  width: 400px;
  cursor: pointer;
}

.booking-form {
  margin: 20px 50px 20px 50px;
}

.form-background {
  background-image: image-url("one-line-chair.svg");
  background-size: 95% 95%;
  background-position-y: 350%;
  background-position-x: 450%;
  background-repeat: no-repeat;
}

.form-table-background {
  background-image: image-url("one-line-table.svg");
  background-repeat: no-repeat;
  background-size: 60% 60%;
  background-position-y: 105%;
  background-position-x: 90%;
}

.form-bench-background {
  background-image: image-url("one-line-bench.svg");
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position-y: 105%;
  background-position-x: 120%;
}

#item_status {
  text-transform: capitalize;
}

@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

.slide-in {
  animation: 1s ease-in-out 0s 1 slideInFromLeft;
}


.tag-item-blue, .tag-item-yellow {
  display: inline-block;
}

.tag-item-blue label {
  color: $blue;
  border: 1px solid $blue;
}

.tag-item-yellow label {
  color: $yellow;
  border: 1px solid $yellow;
}

.tag-selector-blue, .tag-selector-yellow {
  position: absolute;
  transform: scale(0);
}

.tag-selector-blue + label, .tag-selector-yellow + label {
  cursor: pointer;
  display: inline-block;
  // font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.6rem;
  // background-color: #ECEAFF;
  margin-right: 0.8rem;
  margin-bottom: 0.4rem;
}

.tag-selector-blue:checked + label {
  background-color: $blue;
  color: white;
}

.tag-selector-yellow:checked + label {
  background-color: $yellow;
  color: white;
}

.search_category {
  legend {
    display: none;
  }
}

.upload-photo {
  margin: 10px 0 0 0;
  border: 1px solid #d3d3d3;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

.upload-photo:hover {
  background-color: #eeeeee;
  transition: .6s;
}

#back-btn {
  color: black;
  font-weight: 700;
  transition: 0.6s;
  float: right;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 16px;
}

#back-btn:hover {
  color: rgba(0, 0, 0, 0.61);
}