.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 200;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  padding-top: 16px;
}

.nav-link {
  font-family: $headers-font !important;
  font-weight: 400;
  font-size: 50px !important;
  color: black  !important;
}

.nav-item {
  font-family: 'Barlow Semi Condensed', sans-serif !important;
}

.highlight-pink {
  background-image: linear-gradient(120deg, $pink 0%, $pink 100%);
}

.highlight-yellow {
  background-image: linear-gradient(120deg, $yellow 0%, $yellow 100%);
}

.highlight-green {
  background-image: linear-gradient(120deg, $green 0%, $green 100%);
}

.highlight-orange {
  background-image: linear-gradient(120deg, $orange 0%, $orange 100%);
}

.highlight-blue {
  background-image: linear-gradient(120deg, $blue 0%, $blue 100%);
}

.underline--magical {
  font-size: 24px;
  color: black  !important;
  margin-left: 50px;
  // background-image: linear-gradient(120deg, $pink 0%, $pink 100%);
  // background-image: linear-gradient(120deg, $pink 0%, $orange 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
    text-decoration: none !important;
  }
}

.favorites-icon {
  margin-left: 50px !important;
  margin-top: 8px !important;
  font-size: 24px !important;
  color: black !important;
}

.shopping-icon {
  margin-left: 50px !important;
  margin-top: 8px !important;
  font-size: 24px !important;
}

.home-link {
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: underline;
  }
}

.dropdown-toggle {
  cursor: pointer;
}

.logo {
  width: 140px;
  padding-bottom: 10px;
}


.logo:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}