.tabs {
    // border: 2px solid black;
    // width: 350px;
    width: 600px;
}

.tabs div {
    width: 100px;
}

.tabs div a {
    margin-left: 0;
    font-size: 20px;
    font-weight: 200;
}

.create {
    border-left: 1px solid black;
    border-right: 1px solid black;
}