.tabs {
    // border: 2px solid black;
    // width: 350px;
    width: 600px;
}

.tabs div {
    width: 200px;
}

.tabs div a {
    margin-left: 0;
    font-size: 20px;
    font-weight: 200;
}

.create {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#tab-active {
    font-weight: bold;
    color: white;
    padding: 0 5px;
    transition: 0.3s ease-out;
}

#tab-active {
    text-decoration: none;
}

#tab-active:hover {
    padding: 0 20px;
}