.black-text {
  color: black;
}

td > .black-text :hover {
    color: black;
}

.pink-text {
    color: $pink;
}

.orange-text {
    color: $orange;
}

.blue-text {
    color: $blue;
}

.green-text {
  color: $green;
}

a:hover {
  text-decoration-color: black;
  text-decoration-thickness: 4px;
}

