.black-text {
    color: black;
}

td > .black-text :hover {
    color: black;
}

.pink-text {
    color: $pink;
}

.orange-text {
    color: $orange;
}

a:hover {
    text-decoration-color: black;
    text-decoration-thickness: 4px;
}
